# Wikipedia Scrapping

**Technique-1 (Using Pandas): When the data is Tabular**

In [1]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\dell\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from html5lib) (1.16.0)

In [2]:
#Example-1: For English Language Data
import pandas as pd


#set the "match" parameter value as any of the column name of that particular table
df_wikipedia_table = pd.read_html("https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income#States_and_territories_ranked_by_per_capita_income", match="States and Washington, D.C.", header=0)


df_wikipedia_table[0]

,"States and Washington, D.C.",2021,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,Growth rate
0,United States,"$69,717","$65,712","$63,179","$60,336","$57,617","$55,775","$53,657","$52,250","$51,371","$50,502","$50,046",3.07%
1,"Washington, D.C.","$90,088","$92,266","$85,203","$82,372","$75,506","$75,628","$71,648","$67,572","$66,583","$63,124","$60,903",3.68%
2,Maryland,"$90,203","$86,738","$83,242","$80,776","$78,945","$75,847","$73,971","$72,483","$71,122","$70,004","$68,854",2.49%
3,Massachusetts,"$89,645","$85,843","$79,835","$77,385","$75,297","$70,628","$69,160","$66,768","$65,339","$62,859","$62,072",3.41%
4,New Jersey,"$89,296","$85,751","$81,740","$80,088","$76,126","$72,222","$71,919","$70,165","$69,667","$67,458","$67,681",2.57%
5,New Hampshire,"$88,465","$77,933","$74,991","$73,381","$70,936","$70,303","$66,532","$64,230","$63,280","$62,647","$61,042",3.45%
6,California,"$84,907","$80,440","$75,277","$71,805","$67,739","$64,500","$61,933","$60,190","$58,328","$57,287","$57,708",3.59%
7,Hawaii,"$84,857","$83,102","$80,212","$77,765","$74,511","$73,486","$69,592","$68,020","$66,259","$61,821","$63,030",2.77%
8,Washington,"$84,247","$78,687","$74,073","$70,979","$67,106","$64,129","$61,366","$58,405","$57,573","$56,835","$55,631",3.86%
9,Connecticut,"$83,771","$78,833","$76,348","$74,168","$73,433","$71,346","$70,048","$67,098","$67,276","$65,753","$64,032",2.48%
10,Colorado,"$82,254","$77,127","$71,953","$69,117","$65,685","$63,909","$61,303","$58,823","$56,765","$55,387","$54,046",3.90%
11,Virginia,"$80,963","$76,456","$72,577","$71,535","$68,114","$66,262","$64,902","$62,666","$61,741","$61,882","$60,674",2.67%
12,Utah,"$79,449","$75,780","$71,414","$65,358","$65,977","$62,912","$60,922","$59,770","$57,049","$55,869","$54,744",3.48%
13,Alaska,"$77,845","$75,463","$74,346","$73,181","$76,440","$73,355","$71,583","$72,237","$67,712","$67,825","$64,576",1.75%
14,Minnesota,"$77,720","$74,593","$70,315","$68,388","$65,599","$63,488","$61,481","$60,702","$58,906","$56,954","$55,459",3.12%
15,New York,"$74,314","$72,108","$67,844","$64,894","$62,909","$60,850","$58,878","$57,369","$56,448","$55,246","$54,148",2.93%
16,Rhode Island,"$74,008","$71,169","$64,340","$63,870","$60,596","$58,073","$54,891","$55,902","$54,554","$53,636","$52,254",3.26%
17,Vermont,"$72,431","$63,001","$60,782","$57,513","$57,677","$56,990","$54,166","$52,578","$52,977","$52,776","$49,406",3.58%
18,Illinois,"$72,205","$69,187","$65,030","$62,992","$60,960","$59,588","$57,444","$56,210","$55,137","$53,234","$52,972",2.87%
19,Oregon,"$71,562","$67,058","$63,426","$60,212","$57,532","$54,148","$51,075","$50,251","$49,161","$46,816","$46,560",4.00%
20,Delaware,"$71,091","$70,176","$64,805","$62,852","$61,757","$61,255","$59,716","$57,846","$58,415","$58,814","$55,847",2.25%
21,Arizona,"$69,056","$62,055","$59,246","$56,581","$53,558","$51,492","$50,068","$48,510","$47,826","$46,709","$46,789",3.62%
22,Pennsylvania,"$68,957","$63,463","$60,905","$59,105","$56,907","$55,702","$53,234","$52,007","$51,230","$50,228","$49,288",3.11%
23,Wisconsin,"$67,125","$64,168","$60,773","$59,305","$56,811","$55,638","$52,622","$51,467","$51,059","$50,395","$49,001",2.91%
24,Texas,"$66,963","$64,034","$60,629","$59,206","$56,565","$55,653","$53,035","$51,704","$50,740","$49,392","$48,615",2.96%
25,Nebraska,"$66,817","$63,229","$59,566","$59,970","$56,927","$54,996","$52,686","$51,440","$50,723","$50,296","$48,408",2.99%
26,Georgia,"$66,559","$61,980","$58,756","$56,183","$53,559","$51,244","$49,321","$47,829","$47,209","$46,007","$46,430",3.34%
27,North Dakota,"$66,519","$64,577","$63,837","$61,843","$60,656","$60,557","$59,029","$55,759","$53,585","$51,704","$48,670",2.90%
28,Idaho,"$66,474","$60,999","$55,583","$52,225","$51,807","$48,275","$47,861","$46,783","$45,489","$43,341","$43,490",3.97%
29,Nevada,"$66,274","$63,276","$58,646","$58,003","$55,180","$52,431","$51,450","$51,230","$49,760","$48,927","$51,001",2.45%
30,South Dakota,"$66,143","$59,533","$56,274","$56,521","$54,467","$53,017","$50,979","$48,947","$48,362","$48,321","$45,904",3.40%
31,Iowa,"$65,600","$61,691","$59,955","$58,570","$56,247","$54,736","$53,712","$52,229","$50,957","$49,427","$47,961",2.89%
32,Wyoming,"$65,204","$65,003","$61,584","$60,434","$59,882","$60,214","$57,055","$58,752","$54,901","$56,322","$53,512",1.87%
33,Maine,"$64,767","$58,924","$55,602","$55,277","$53,079","$51,494","$49,462","$46,974","$46,709","$46,033","$45,815",3.22%
34,Kansas,"$64,124","$62,087","$58,218","$56,422","$54,935","$53,906","$52,504","$50,972","$50,241","$48,964","$48,257",2.63%
35,Michigan,"$63,498","$59,584","$56,697","$54,909","$52,491","$51,084","$49,847","$48,273","$46,859","$45,981","$45,413",3.10%
36,Montana,"$63,249","$57,153","$55,328","$53,386","$50,027","$49,509","$46,328","$46,972","$45,076","$44,222","$42,666",3.67%
37,Florida,"$63,062","$59,227","$55,462","$52,594","$50,860","$49,426","$47,463","$46,036","$45,040","$44,299","$44,409",3.25%
38,Indiana,"$62,743","$57,603","$55,746","$54,181","$52,314","$50,532","$49,446","$47,529","$46,974","$46,438","$44,613",3.15%
39,Ohio,"$62,262","$58,642","$56,111","$54,021","$52,344","$51,075","$49,308","$48,081","$46,829","$45,749","$45,090",2.98%
40,North Carolina,"$61,972","$57,341","$53,855","$52,752","$50,584","$47,830","$46,556","$45,906","$45,150","$43,916","$43,326",3.32%
41,Missouri,"$61,847","$57,409","$54,478","$53,578","$51,746","$50,238","$48,363","$46,931","$45,321","$45,247","$44,301",3.09%
42,Tennessee,"$59,695","$56,071","$52,375","$51,340","$48,547","$47,275","$44,361","$44,297","$42,764","$41,693","$41,461",3.39%
43,South Carolina,"$59,318","$56,227","$52,306","$50,570","$49,501","$47,238","$45,238","$44,163","$43,107","$42,367","$42,018",3.20%
44,Oklahoma,"$55,826","$54,449","$51,924","$50,051","$49,176","$48,568","$47,529","$45,690","$44,312","$43,225","$42,072",2.61%
45,Kentucky,"$55,573","$52,295","$50,247","$48,375","$46,659","$45,215","$42,958","$43,399","$41,724","$41,141","$40,062",3.03%
46,New Mexico,"$53,992","$51,945","$47,169","$46,744","$46,748","$45,382","$44,803","$43,872","$42,558","$41,963","$42,090",2.32%
47,Alabama,"$53,913","$51,734","$49,861","$48,123","$46,257","$44,765","$42,830","$42,849","$41,574","$41,415","$40,474",2.65%
48,Arkansas,"$52,528","$48,952","$47,062","$45,869","$44,334","$41,995","$41,262","$40,511","$40,112","$38,758","$38,307",2.92%
49,Louisiana,"$52,087","$51,073","$47,905","$46,145","$45,146","$45,727","$44,555","$44,164","$42,944","$41,734","$42,505",1.89%
50,West Virginia,"$51,248","$48,850","$44,097","$43,469","$43,385","$42,019","$41,059","$41,253","$40,196","$38,482","$38,218",2.74%
51,Mississippi,"$48,716","$45,792","$44,717","$43,529","$41,754","$40,593","$39,680","$37,963","$37,095","$36,919","$36,851",2.58%

In [12]:
#Example-1: For Bengali Language Data(same method)
import pandas as pd


#set the "match" parameter value as any of the column name of that particular table
df_wikipedia_table = pd.read_html("https://bn.wikipedia.org/wiki/%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6%E0%A7%87%E0%A6%B0_%E0%A6%9C%E0%A6%BE%E0%A6%A4%E0%A7%80%E0%A6%AF%E0%A6%BC_%E0%A6%B8%E0%A6%82%E0%A6%B8%E0%A6%A6%E0%A7%87%E0%A6%B0_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%9A%E0%A6%A8%E0%A7%80_%E0%A6%8F%E0%A6%B2%E0%A6%BE%E0%A6%95%E0%A6%BE%E0%A6%B0_%E0%A6%A4%E0%A6%BE%E0%A6%B2%E0%A6%BF%E0%A6%95%E0%A6%BE#%E0%A6%9A%E0%A6%9F%E0%A7%8D%E0%A6%9F%E0%A6%97%E0%A7%8D%E0%A6%B0%E0%A6%BE%E0%A6%AE_%E0%A6%AC%E0%A6%BF%E0%A6%AD%E0%A6%BE%E0%A6%97", match="মানচিত্র",header=0)


df_wikipedia_table[0]

,আসন নম্বর,নির্বাচনী এলাকার নাম,মানচিত্র,নির্বাচনী এলাকার বিস্তৃতি
0,১,পঞ্চগড়-১,NaN,"তেঁতুলিয়া উপজেলা, পঞ্চগড় সদর উপজেলা এবং আটোয..."
1,২,পঞ্চগড়-২,NaN,বোদা উপজেলা এবং দেবীগঞ্জ উপজেলা
2,৩,ঠাকুরগাঁও-১,NaN,ঠাকুরগাঁও সদর উপজেলা
3,৪,ঠাকুরগাঁও-২,NaN,"বালিয়াডাঙ্গী উপজেলা, রাণীশংকৈল উপজেলার ধর্মগড..."
4,৫,ঠাকুরগাঁও-৩,NaN,রাণীশংকৈল উপজেলা (ধর্মগড় ও কাশিপুর ইউনিয়ন ব্...
5,৬,দিনাজপুর-১,NaN,বীরগঞ্জ উপজেলা এবং কাহারোল উপজেলা
6,৭,দিনাজপুর-২,NaN,বোচাগঞ্জ উপজেলা এবং বিরল উপজেলা
7,৮,দিনাজপুর-৩,NaN,দিনাজপুর সদর উপজেলা
8,৯,দিনাজপুর-৪,NaN,খানসামা উপজেলা এবং চিরিরবন্দর উপজেলা
9,১০,দিনাজপুর-৫,NaN,পার্বতীপুর উপজেলা এবং ফুলবাড়ী উপজেলা
10,১১,দিনাজপুর-৬,NaN,"নবাবগঞ্জ উপজেলা, বিরামপুর উপজেলা, হাকিমপুর উপজ..."
11,১২,নীলফামারী-১,NaN,ডিমলা উপজেলা এবং ডোমার উপজেলা
12,১৩,নীলফামারী-২,NaN,নীলফামারী সদর উপজেলা
13,১৪,নীলফামারী-৩,NaN,জলঢাকা উপজেলা
14,১৫,নীলফামারী-৪,NaN,কিশোরগঞ্জ উপজেলা এবং সৈয়দপুর উপজেলা
15,১৬,লালমনিরহাট-১,NaN,পাটগ্রাম উপজেলা এবং হাতীবান্ধা উপজেলা
16,১৭,লালমনিরহাট-২,NaN,কালীগঞ্জ উপজেলা এবং আদিতমারী উপজেলা
17,১৮,লালমনিরহাট-৩,NaN,লালমনিরহাট সদর উপজেলা
18,১৯,রংপুর-১,NaN,গংগাচড়া উপজেলা এবং রংপুর সিটি কর্পোরেশনের ১ থ...
19,২০,রংপুর-২,NaN,তারাগঞ্জ উপজেলা এবং বদরগঞ্জ উপজেলা
20,২১,রংপুর-৩,NaN,রংপুর সদর উপজেলা এবং রংপুর সিটি কর্পোরেশনের ৯ ...
21,২২,রংপুর-৪,NaN,কাউনিয়া উপজেলা এবং পীরগাছা উপজেলা
22,২৩,রংপুর-৫,NaN,মিঠাপুকুর উপজেলা
23,২৪,রংপুর-৬,NaN,পীরগঞ্জ উপজেলা
24,২৫,কুড়িগ্রাম-১,NaN,ভুরুঙ্গামারী উপজেলা এবং নাগেশ্বরী উপজেলা
25,২৬,কুড়িগ্রাম-২,NaN,"ফুলবাড়ী উপজেলা, কুড়িগ্রাম সদর উপজেলা এবং রাজ..."
26,২৭,কুড়িগ্রাম-৩,NaN,উলিপুর উপজেলা
27,২৮,কুড়িগ্রাম-৪,NaN,"চিলমারী উপজেলা, রৌমারী উপজেলা এবং চর রাজিবপুর ..."
28,২৯,গাইবান্ধা-১,NaN,সুন্দরগঞ্জ উপজেলা
29,৩০,গাইবান্ধা-২,NaN,গাইবান্ধা সদর উপজেলা
30,৩১,গাইবান্ধা-৩,NaN,সাদুল্লাপুর উপজেলা এবং পলাশবাড়ী উপজেলা
31,৩২,গাইবান্ধা-৪,NaN,গোবিন্দগঞ্জ উপজেলা
32,৩৩,গাইবান্ধা-৫,NaN,সাঘাটা উপজেলা এবং ফুলছড়ি উপজেলা

**Technique-2 (Using BeautifulSoup): Tabular Data**

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://bn.wikipedia.org/wiki/%E0%A6%AC%E0%A6%BE%E0%A6%82%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B6%E0%A7%87%E0%A6%B0_%E0%A6%9C%E0%A6%BE%E0%A6%A4%E0%A7%80%E0%A6%AF%E0%A6%BC_%E0%A6%B8%E0%A6%82%E0%A6%B8%E0%A6%A6%E0%A7%87%E0%A6%B0_%E0%A6%A8%E0%A6%BF%E0%A6%B0%E0%A7%8D%E0%A6%AC%E0%A6%BE%E0%A6%9A%E0%A6%A8%E0%A7%80_%E0%A6%8F%E0%A6%B2%E0%A6%BE%E0%A6%95%E0%A6%BE%E0%A6%B0_%E0%A6%A4%E0%A6%BE%E0%A6%B2%E0%A6%BF%E0%A6%95%E0%A6%BE#'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')


#extracting the table first
table = soup.find_all('table')[0]

#extract the row containg the column headings
header_row = table.find('tr')
#extract the column headings
headings = [header.text.strip() for header in header_row.find_all('th')]


for row in table.find_all('tr')[1:]:
    columns = row.find_all('td')
    
    if columns:
        data.append([col.text.strip() for col in columns])
   

data_df = pd.DataFrame(data, columns=headings)
data_df.head()

,আসন নম্বর,নির্বাচনী এলাকার নাম,মানচিত্র,নির্বাচনী এলাকার বিস্তৃতি
0,১,পঞ্চগড়-১,,"তেঁতুলিয়া উপজেলা, পঞ্চগড় সদর উপজেলা এবং আটোয..."
1,২,পঞ্চগড়-২,,বোদা উপজেলা এবং দেবীগঞ্জ উপজেলা
2,৩,ঠাকুরগাঁও-১,,ঠাকুরগাঁও সদর উপজেলা
3,৪,ঠাকুরগাঁও-২,,"বালিয়াডাঙ্গী উপজেলা, রাণীশংকৈল উপজেলার ধর্মগড..."
4,৫,ঠাকুরগাঁও-৩,,রাণীশংকৈল উপজেলা (ধর্মগড় ও কাশিপুর ইউনিয়ন ব্...

**Technique-3: When the Data is in Non-tabular format**

In [28]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/Alan_Shepard"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

data = []

with open("alan_shepard.txt", "w", encoding="utf-8") as f:
    # Extract the title and write it to the file
    title = soup.find("title").text
    f.write(f"Title: {title}\n\n")
    
    # Extract all paragraph descriptions
    description = soup.find_all("p")
    
    # Loop through all paragraph tags and write their text content to the file
    for para in description:
        paragraph_text = para.text.strip()
        if paragraph_text: #write only when the paragraph_text is not empty or None
            data.append(paragraph_text)
            f.write(paragraph_text)
        
print(data)

['Alan Bartlett Shepard Jr. (November 18, 1923\xa0– July 21, 1998) was an American astronaut. In 1961, he became the second person and the first American to travel into space and, in 1971, he became the fifth and oldest person to walk on the Moon, at age 47.', 'A graduate of the United States Naval Academy at Annapolis, Shepard saw action with the surface navy during World War II. He became a naval aviator in 1947, and a test pilot in 1950. He was selected as one of the original NASA Mercury Seven astronauts in 1959, and in May 1961 he made the first crewed Project Mercury flight, Mercury-Redstone 3, in a spacecraft he named Freedom 7. His craft entered space, but was not capable of achieving orbit. He became the second person, and the first American, to travel into space. In the final stages of Project Mercury, Shepard was scheduled to pilot the Mercury-Atlas 10 (MA-10), which was planned as a three-day mission. He named Mercury Spacecraft 15B Freedom 7 II in honor of his first spacecraft, but the mission was canceled.', "Shepard was designated as the commander of the first crewed Project Gemini mission, but was grounded in October 1963 due to Ménière's disease, an inner-ear ailment that caused episodes of extreme dizziness and nausea. This was surgically corrected in 1968, and in 1971, Shepard commanded the Apollo 14 mission, piloting the Apollo Lunar Module Antares. He was the only one of the Mercury Seven astronauts to walk on the Moon. During the mission, he hit two golf balls on the lunar surface.", 'Shepard was Chief of the Astronaut Office from November 1963 to August 1969 (the approximate period of his grounding), and from June 1971 until April 30, 1974. On August 25, 1971, he was promoted to rear admiral, the first astronaut to reach that rank. He retired from the United States Navy and NASA on July 31, 1974.', "Alan Bartlett Shepard Jr. was born on November 18, 1923, at 64 East Derry Road in Derry, New Hampshire,[1] to Alan Bartlett Shepard Sr. (1891–1973) and Pauline Renza Shepard (née\xa0Emerson; 1900–1993).[2] He had a younger sister, Pauline, who was known as Polly.[3] The two were descendants of Mayflower passenger Richard Warren,[2] and were related to Scottish emigrants from Berneray in the Outer Hebrides, through the Shepard line.[4] Alan Bartlett Shepard Sr., known as Bart, worked in the Derry National Bank, owned by Shepard's grandfather. Bart joined the National Guard in 1915 and served in France with the American Expeditionary Force during World War I.[5] He remained in the National Guard between the wars, and was recalled to active duty during World War II, rising to the rank of lieutenant colonel.[6]", 'Shepard attended Adams School in Derry, where his academic performance impressed his teachers. He skipped the sixth grade[7] and proceeded to middle school at Oak Street School in Derry,[6] where he also skipped the eighth grade.[7] He achieved the Boy Scouts of America rank of First Class Scout.[8] In 1936, he went to the Pinkerton Academy, a private school in Derry that his father had attended and where his grandfather had been a trustee.[9] He completed grades 9 to 12 there.[7] Fascinated by flight, he created a model airplane club at the academy and his Christmas present in 1938 was a flight in a Douglas DC-3.[10] The following year he began cycling to Manchester Airfield, where he would do odd jobs in exchange for the occasional ride in an airplane or informal flying lesson.[11][12]', 'Shepard graduated from Pinkerton Academy in 1940. Because World War II was already raging in Europe, his father wanted him to join the Army. Shepard chose the Navy instead. He easily passed the entrance exam to the United States Naval Academy at Annapolis in 1940 but at sixteen was too young to enter that year. The Navy sent him to the Admiral Farragut Academy, a prep school for the Naval Academy from which he graduated with the Class of 1941.[13] Tests administered at Farragut indicated an IQ of 145 but his grades were mediocre.[14]', 'At the Naval Academy, Shepard enjoyed aquatic sports. He was a keen and competitive sailor, winning several races, including a regatta held by the Annapolis Yacht Club. He learned to sail all the types of boats the academy owned, up to and including USS\xa0Freedom, a 90-foot (27\xa0m) schooner. He also participated in swimming and rowed with the eight.[14] During his Christmas break in 1942, he went to Principia College to be with his sister, who was unable to go home owing to wartime travel restrictions. There he met Louise Brewer, whose parents were pensioners on the du Pont family estate and like Renza Shepard, were devout Christian Scientists.[15][16] Owing to the war, the usual four-year course at Annapolis was cut short by a year. He graduated with the Class of 1945 on June 6, 1944, ranked 463rd out of 915, and was commissioned as an ensign and awarded a Bachelor of Science degree. The following month he became secretly engaged to Louise.[17][18]', '"You know, being a test pilot isn\'t always the healthiest business in the world."', '—Shepard quoted at the New Mexico Museum of Space History[19]', 'After a month of classroom instruction in aviation, Shepard was posted to a destroyer, USS\xa0Cogswell, in August 1944;[20] it was US Navy policy that aviation candidates should first have some service at sea.[11] At the time the destroyer was deployed on active service in the Pacific Ocean. Shepard joined it when it returned to the naval base at Ulithi on October 30.[21] After just two days at sea Cogswell helped rescue 172 sailors from the cruiser USS\xa0Reno, which had been torpedoed by a Japanese submarine, then escorted the crippled ship back to Ulithi. The ship was buffeted by Typhoon Cobra in December 1944, a storm in which three other destroyers went down, and battled kamikazes in the invasion of Lingayen Gulf in January 1945.[22]', "Cogswell returned to the United States for an overhaul in February 1945. Shepard was given three weeks' leave, in which time he and Louise decided to marry. The ceremony took place on March 3, 1945, in St. Stephen's Lutheran Church in Wilmington, Delaware. His father, Bart, served as his best man. The newlyweds had only a brief time together before Shepard rejoined Cogswell at the Long Beach Navy Yard on April 5, 1945.[23] After the war, they had two children, both daughters: Laura, born in 1947,[24] and Julie, born in 1951.[25] Following the death of Louise's sister in 1956, they raised her five-year-old niece, Judith Williams—whom they renamed Alice to avoid confusion with Julie—as their own, although they never adopted her.[26][27] They eventually had six grandchildren.[28]", "On Shepard's second cruise with Cogswell, he was appointed a gunnery officer, responsible for the 20\xa0mm and 40\xa0mm antiaircraft guns on the ship's bow. They engaged kamikazes in the Battle of Okinawa, where the ship served in the dangerous role of a radar picket. The job of the radar pickets was to warn the fleet of incoming kamikazes, but because they were often the first ships sighted by incoming Japanese aircraft, they were also the most likely ships to be attacked. Cogswell performed this duty from May 27 until June 26, 1945, when it rejoined Task Force 38. The ship also participated in the Allied naval bombardments of Japan, and was present in Tokyo Bay for the Surrender of Japan in September 1945. Shepard returned to the United States later that month.[21][29]", 'In November 1945, Shepard arrived at Naval Air Station Corpus Christi in Texas, where he commenced basic flight training on January 7, 1946.[30] He was an average student, and for a time faced being "bilged" (dropped) from flight training and reassigned to the surface navy. To make up for this, he took private lessons at a local civilian flying school—something the Navy frowned on—earning a civil pilot\'s license.[31] His flying skills gradually improved, and by early 1947 his instructors rated him above average. He was sent to Naval Air Station Pensacola in Florida for advanced training. His final test was six perfect landings on the carrier USS\xa0Saipan. The following day, he received his naval aviator wings, which his father pinned on his chest.[32]', 'Shepard was assigned to Fighter Squadron 42 (VF-42), flying the Vought F4U Corsair. The squadron was nominally based on the aircraft carrier USS\xa0Franklin D. Roosevelt, but the ship was being overhauled at the time Shepard arrived, and in the meantime the squadron was based at Naval Air Station Norfolk in Virginia. He departed on his first cruise, of the Caribbean, on Franklin D. Roosevelt with VF-42 in 1948. Most of the aviators were, like Shepard, on their first assignment. Those who were not were given the opportunity to qualify for night landings on a carrier, a dangerous maneuver, especially in a Corsair, which had to bank sharply on approach. Shepard managed to persuade his squadron commander to allow him to qualify as well. After briefly returning to Norfolk, the carrier set out on a nine-month tour of the Mediterranean Sea. He earned a reputation for carousing and chasing women. He also instituted a ritual of, whenever he could, calling Louise at 17:00 (her time) each day.[33]', "Normally sea duty alternated with periods of duty ashore. In 1950, Shepard was selected to attend the United States Naval Test Pilot School at Naval Air Station Patuxent River in Maryland with class five, graduating in January 1951.[34][35] As a test pilot he conducted high-altitude tests to obtain information about the light and air masses at different altitudes over North America; carrier suitability certification of the McDonnell F2H Banshee; experiments with the Navy's new in-flight refueling system; and tests of the angled flight deck.[18] He narrowly avoided being court-martialed by the station commander, Rear Admiral Alfred M. Pride, after looping the Chesapeake Bay Bridge and making low passes over the beach at Ocean City, Maryland, and the base; but Shepard's superiors, John Hyland and Robert M. Elder, interceded on his behalf.[36]", 'Shepard\'s next assignment was to VF-193, a night fighter squadron flying the Banshee, that was based at Naval Air Station Moffett Field, California. The squadron was part of Commander James D. "Jig Dog" Ramage\'s Air Group 19. Naval aviators with experience in jet aircraft were still relatively rare, and Ramage specifically requested Shepard\'s assignment on the advice of Elder, who commanded VF-193\'s sister squadron, VF-191. Ramage made Shepard his own wingman,[37] a decision that would save Ramage\'s life in 1954, when his oxygen system failed and Shepard talked him through a landing.[38] As squadron operations officer, Shepard\'s most important task was imparting his knowledge of flying jets to his fellow aviators to keep them alive. He served two tours on the aircraft carrier USS\xa0Oriskany in the western Pacific. It set out on a combat tour off Korea in 1953, during the Korean War, but the Korean Armistice Agreement ended the fighting in July 1953, and Shepard did not see combat.[39]', "Rear Admiral John P. Whitney requested Shepard's services as an aide de camp, but Shepard wanted to fly. Therefore, at Shepard's request, Ramage spoke to the admiral on his behalf, and Shepard was instead sent back to Patuxent.[40] He flight tested the McDonnell F3H Demon, Vought F-8 Crusader, Douglas F4D Skyray and Grumman F-11 Tiger.[41] The Vought F7U Cutlass tended to go into an inverted spin during a snap roll. This was not unusual; many aircraft did this, but normally if the pilot let go of the stick the aircraft would correct itself. When he attempted this in the F7U, Shepard found this was not the case. He was unable to break out of the spin and was forced to eject. In 1957, he was project test pilot on the Douglas F5D Skylancer. Shepard did not like the plane, and gave it an unfavorable report. The Navy canceled orders for it, buying the F8U instead. He also filed an unfavorable report on the F11F after a harrowing incident in which the engine failed on him during a high-speed dive. He managed to restart the engine and avoid a fatal crash.[42]", 'Shepard was an instructor at the Test Pilot School, and then entered the Naval War College at Newport, Rhode Island.[43] He graduated in 1957, and became an Aircraft Readiness Officer on the staff of the Commander-in-Chief, Atlantic Fleet.[44] By this time he had logged more than 3,600 hours of flying time, including 1,700 hours in jets. Know he has more than 8,000 flight hours in, Including 3,700 in jet aircraft [45]', 'On October 4, 1957, the Soviet Union launched Sputnik 1, the first artificial satellite. This shattered American confidence in its technological superiority, creating a wave of anxiety known as the Sputnik crisis. Among his responses, President Dwight D. Eisenhower launched the Space Race. The National Aeronautics and Space Administration (NASA) was established on October 1, 1958, as a civilian agency to develop space technology. One of its first initiatives was publicly announced on December 17, 1958. This was Project Mercury,[46] which aimed to launch a man into Earth orbit, return him safely to the Earth, and evaluate his capabilities in space.[47]', "NASA received permission from Eisenhower to recruit its first astronauts from the ranks of military test pilots. The service records of 508 graduates of test pilot schools were obtained from the United States Department of Defense. From these, 110 were found that matched the minimum standards:[48] the candidates had to be younger than 40, possess a bachelor's degree or equivalent and to be 5\xa0feet 11\xa0inches (1.80\xa0m) or less. While these were not all strictly enforced, the height requirement was firm, owing to the size of the Project Mercury spacecraft.[49] The 110 were then split into three groups, with the most promising in the first group.[50]", "The first group of 35, which included Shepard, assembled at the Pentagon on February 2, 1959. The Navy and Marine Corps officers were welcomed by the Chief of Naval Operations, Admiral Arleigh Burke, while the United States Air Force officers were addressed by the Chief of Staff of the United States Air Force, General Thomas D. White. Both pledged their support to the Space Program, and promised that the careers of volunteers would not be adversely affected. NASA officials then briefed them on Project Mercury. They conceded that it would be a hazardous undertaking, but emphasized that it was of great national importance. That evening, Shepard discussed the day's events with fellow naval aviators Jim Lovell, Pete Conrad and Wally Schirra, all of whom would eventually become astronauts. They were concerned about their careers, but decided to volunteer.[51][52]", 'The briefing process was repeated with a second group of 34 candidates a week later. Of the 69, six were found to be over the height limit, 15 were eliminated for other reasons, and 16 declined. This left NASA with 32 candidates. Since this was more than expected, NASA decided not to bother with the remaining 41 candidates, as 32 candidates seemed a more than adequate number from which to select 12 astronauts as planned. The degree of interest also indicated that far fewer would drop out during training than anticipated, which would result in training astronauts who would not be required to fly Project Mercury missions. It was therefore decided to cut the number of astronauts selected to just six.[53] Then came a grueling series of physical and psychological tests at the Lovelace Clinic and the Wright Aerospace Medical Laboratory.[54] Only one candidate, Lovell, was eliminated on medical grounds at this stage, and the diagnosis was later found to be in error;[55] thirteen others were recommended with reservations. The director of the NASA Space Task Group, Robert R. Gilruth, found himself unable to select only six from the remaining eighteen, and ultimately seven were chosen.[55]', 'Shepard was informed of his selection on April 1, 1959. Two days later he traveled to Boston with Louise for the wedding of his cousin Anne, and was able to break the news to his parents and sister.[56][57] The identities of the seven were announced at a press conference at Dolley Madison House in Washington, D.C., on April 9, 1959:[58] Scott Carpenter, Gordon Cooper, John Glenn, Gus Grissom, Wally Schirra, Alan Shepard, and Deke Slayton.[59] The magnitude of the challenge ahead of them was made clear a few weeks later, on the night of May 18, 1959, when the seven astronauts gathered at Cape Canaveral to watch their first rocket launch, of an SM-65D Atlas, which was similar to the one that was to carry them into orbit. A few minutes after liftoff, it spectacularly exploded, lighting up the night sky. The astronauts were stunned. Shepard turned to Glenn and said: "Well, I\'m glad they got that out of the way."[60]', 'Faced with intense competition from the other astronauts, particularly John Glenn, Shepard quit smoking and adopted Glenn\'s habit of taking a morning jog.[61] On January 19, 1961, Gilruth informed the seven astronauts that Shepard had been chosen for the first American crewed mission into space.[62] Shepard later recalled Louise\'s response when he told her that she had her arms around the man who would be the first man in space: "Who let a Russian in here?"[63] During training he flew 120 simulated flights.[64] Although this flight was originally scheduled for April 26, 1960,[65] it was postponed several times by unplanned preparatory work, initially to December 5, 1960, then mid-January 1961,[66] March 6, 1961,[67] April 25, 1961,[68] May 2, 1961, and finally to May 5, 1961.[69] On April 12, 1961, Soviet cosmonaut Yuri Gagarin became the first person in space, and the first to orbit the Earth.[70] It was another body blow to American pride.[67] When Shepard heard the news he slammed his fist down on a table so hard a NASA public relations officer feared he might have broken his hand.[71]', "On May 5, 1961, Shepard piloted the Mercury-Redstone 3 mission and became the second person, and the first American, to travel into space.[72] He named his spacecraft, Mercury Spacecraft 7, Freedom 7.[67] He awoke at 01:10, and had breakfast consisting of orange juice, a filet mignon wrapped in bacon, and scrambled eggs with his backup, John Glenn, and flight surgeon William K. Douglas. He was helped into his space suit by suit technician Joseph W. Schmitt, and boarded the transfer van at 03:55. He ascended the gantry at 05:15, and entered the spacecraft five minutes later. It was expected that liftoff would occur in another two hours and five minutes,[73] so Shepard's suit did not have any provision for elimination of bodily wastes, but after being strapped into the capsule's seat, launch delays kept him in that suit for over four hours.[74] Shepard's endurance gave out before launch, and he was forced to empty his bladder into the suit. Medical sensors attached to it to track the astronaut's condition in flight were turned off to avoid shorting them out. The urine pooled in the small of his back, where it was absorbed by his undergarment.[75][76] After Shepard's flight, the space suit was modified, and by the time of Gus Grissom's Mercury-Redstone 4 suborbital flight in July, a liquid waste collection feature had been built into the suit.[77]", 'Unlike Gagarin\'s 108-minute orbital flight in a Vostok spacecraft three times the size of Freedom 7,[70] Shepard stayed on a suborbital trajectory for the 15-minute flight, which reached an altitude of 101.2 nautical miles (116.5 statute miles; 187.4 kilometers), and then fell to a splashdown 263.1 nautical miles (302.8 statute miles; 487.3 kilometers) down the Atlantic Missile Range.[78] Unlike Gagarin, whose flight was strictly automatic, Shepard had some control of Freedom 7, spacecraft attitude in particular.[79] Shepard\'s launch was seen live on television by million